#bg-color {
    background-color: blueviolet;
    width: auto;
}

/* header and navbar css style start */

.header-style {
    text-align: center;
    border: 2px solid indigo;
    background-color: indigo;
}

#container {
    width: 100%;
}

.navbar-top {
    width: auto;
    display: flex;
}

#nav-title-div {
   line-height:60px;
   font-size:20px;
   color: plum;
   width: 45%;
   letter-spacing: 1px;
   text-shadow:1px 1px 2px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-ul-li {
    width: 100%; 
    display: inline-block;
    line-height:80px;
    text-align:center;
}

.nav-ul-li a {
    color: plum;
    text-decoration: none;
}

#navbar-title {
    color: blueviolet;
}

#search-button-li {
    margin-right:  5%;
    margin-left: 5%;

}

#search-input {
    padding: 3%;
    border: 2px solid plum;
    border-radius: 2%;
    width: 80%;
}

/* header and navbar css style end */

/* main section css style start */

#sec1-edit {
    margin: 5%;
    width: 50%;
}

#sec1-edit div input {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-left: 3%;
    width: 40%;
}

#sec1-edit div textarea {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-left: 3%;
    width: 80%;
}

#sec1-edit div button {
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: plum;
}

#art-edit aside{
    border: 2px solid plum;
    border-radius: 4%;
    background-color: indigo;
    margin: 5%;
    width: 50%;
    color: plum;
}

#art-edit aside p {
    margin: 8%;
}

#art-edit aside h3 {
    margin:  8%;
}

#art-edit {
    display: flex;
}


#footer-edit {
    background-color: indigo;
    padding: 3%;
}

/* main section css style end */