#bg-color {
    background-color: indigo;
    width: auto;
}
#main-width {
    width: auto;
}

#header-edit {
    text-align: center;
    color: indigo;
    border: 2px solid blueviolet;
    background-color: blueviolet;
}
#nav-edit {
    list-style-type: none;
}

#nav-edit ul {
    margin-right: 4%;
}

#nav-edit li {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}

#nav-edit ul li a {
    text-decoration: none;
}
#nav-edit ul li input {
    padding: 5%;
    border: 2px solid indigo;
    border-radius: 2%;
}

#footer-edit {
    background-color: #222;
    padding: 3%;
}

#art-edit {
    display: flex;
}

#lyrics-box1 {
    background-color: blueviolet;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    
}

#lyrics-box2 {
    background-color: blueviolet;
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#art-edit section div {
    border: 2px solid indigo;
}

#art-edit section div h1 {
    text-align: center;
    font-size: 140%;
    color: indigo;
}

#art-edit section div p {
    text-align: center;
    font-size: 120%;
    color: rgb(248, 160, 239);
}

#lyrics-box2 p {
    padding-top: 1.92px;
    padding-bottom: 1.94px;
}

#song-title {
    text-align: center;
    color: plum;
    margin-top: 6%;
    font-size: larger;
}

#song-info {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 2px solid indigo;
}

#song-info a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 120%;
    padding: 2%;
}

#song-info iframe {   
    padding: 2%;
}