.body-style {
    width: auto;
    background-color: blueviolet;
}

/* header and navbar css style start */

.header-style {
    text-align: center;
    border: 2px solid indigo;
    background-color: indigo;
}

#container {
    width: 100%;
}

.navbar-top {
    width: auto;
    display: flex;
}

#nav-title-div {
   line-height:60px;
   font-size:20px;
   color: plum;
   width: 45%;
   letter-spacing: 1px;
   text-shadow:1px 1px 2px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-ul-li {
    width: 100%; 
    display: inline-block;
    line-height:80px;
    text-align:center;
}

.nav-ul-li a {
    color: plum;
    text-decoration: none;
}

#navbar-title {
    color: blueviolet;
}

#search-button-li {
    margin-right:  5%;
    margin-left: 5%;
}

#search-input {
    padding: 3%;
    border: 2px solid plum;
    border-radius: 2%;
    width: 80%;
}


/* header and navbar css style end */

/* main section css style start */

.lyrics-table-1 {
    text-align: center;
    width: 80%;
    border: 2px solid indigo;
    background-color: ;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    color: plum;
    font-size: 120%;
    background-color: indigo;
}

.title-row {
    color: whitesmoke;
}

.title-col {
    border: 2px solid blueviolet;
    padding: 2%;
}

.lyrics-section {
    border: 2px solid blueviolet;
    width: 100%;
}

.lyrics-row {
    border: 2px, solid blueviolet;
}

.korean-lyrics {
    border: 2px solid blueviolet;
    padding: 2%;
    width: 23.3%;
}

.romanized-lyrics {
    border: 2px solid blueviolet;
    padding: 2%;
    width: 23.3%;
}

.english-translation {
    border: 2px solid blueviolet;
    padding: 2%;
    width: 23.3%;
}

/* main section css style stop */